<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<title>휴폐업조회 SDK Node - Express Example.</title>
  </head>
	<body>
		<div id="content">
			<p class="heading1">휴폐업조회 API SDK Node - Express Example.</p>
			<br/>
			<fieldset class="fieldset1">
				<legend>휴폐업조회 관련 API</legend>
				<fieldset class="fieldset2">

					<ul>
						<li><a href="checkCorpNum">checkCorpNum</a> - 휴폐업조회(단건) </li>
						<li><a href="checkCorpNums">checkCorpNums</a> - 휴폐업조회(대량), 최대 1000건</li>
					</ul>
				</fieldset>
			</fieldset>
			<br />
			<fieldset class="fieldset1">
				<legend>휴폐업조회 기본 API</legend>
				<fieldset class="fieldset2">
					<legend>회원사 정보</legend>
					<ul>
						<li><a href="getUnitCost">getUnitCost</a> - 휴폐업조회 단가 확인</li>
						<li><a href="getBalance">getBalance</a> - 잔여포인트 확인</li>
					</ul>
				</fieldset>
			</fieldset>
		 </div>
	</body>
</html>